<div class="notice notice-info">
    <p>
      {{ __('Hi %s, thankyou for using LearnDash Salesforce plugin. If you find our plugin useful kindly take some time to leave a review and a rating for us', '' )|format(username) }}
      <a href="https://wordpress.org/plugins/crm-salesforce-learndash-integration/" target="_blank">
        <strong>{{ __('here', 'crm-salesforce-learndash-integration') }}</strong>
      </a>
      <br>
      <a href="{{ dismiss_url }}">
        {{ __( 'Dismiss Notice', 'crm-salesforce-learndash-integration' ) }}
      </a>
    %s
    </p>
</div>